.card {
  background-color: #282b30;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

.card .image {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 170px;
}
.card .info {
  padding: 5px;
}
.card .info p,
.card .info h2 {
  margin-block: 3px;
}
.card .info .sub-title {
  font-weight: 500;
}
@media (min-width: 768px) {
  .card .image {
    height: 145px;
  }
}
