#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

body {
  margin: 0;
}
.title {
  font-size: 22px;
}
@media (min-width: 768px) {
  .title {
    font-size: 43px;
  }
}
